.center {
  position: fixed;
  top: 10%;
  left: 40%;
  transform: translateX(-60%);
}
.move {
  float: right;
}
.move2 {
  position: fixed;
  top: 10%;
  left: 65%;
}
.flex-container {
  display: flex;
  flex-direction: column;
  max-width: 20%;
  gap: 20px;
}
#addEx,
#addReps,
#addSets,
#addWeight {
  height: 20px;
}
.flexContainer {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.table {
  border: 1px solid black;
}

#workout_block_line,
#dateHeading {
  background-color: black;
  color: white;
}
